.column {
  float: left;
  width: 40%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



body {
  color: black;
}

h1 {
  color: black;
  margin-left: 10px;
}

text {
    color: black;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

input {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}