

.column2 {
  float: right;
  width: 50%;
  background-color: grey;
  height: 720px
}

.column1 {
  background-image: url(ingredientsImg.jpg);
  background-repeat: no-repeat;
  float: left;
  width: 50%;
  height: 720px;
  background-size: cover ;
  background-position: left top;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

input {
  width: 12%;
  padding: 12px 20px;
  box-sizing: border-box;
}

.ingredientInput{
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: grey;
  padding: 70px 0 0;
}

.slider{
  text-align: center;
}

.sliderConfig {
  width: 50%;
  height: 20px;
}

.recipeContainer {
  width: 45%;
  height: 300px;
  float: left;
  text-align: center;
}
.filler {
  width: 10%;
  float: left;
  text-align: center;
}